extends layout
append content
  
  block content
    p Welcome to hackNET faggot
    p I know youre a retard, but please click here to create an 
      a(href='#') email
      account. Your mother must be so proud of you!
      
    
